extends layout

block content
  h1 Search Results – Location
  p This page will display Location data such as population, primary language, and country.
  p Displaying a few example locations below:

  - var results = [{ population: 340100000, primaryLanguage: 'English', country: 'United States' }, { population: 68520000, primaryLanguage: 'French', country: 'France' }, { population: 124000000, primaryLanguage: 'Japanese', country: 'Japan' }];
  
  .container-fluid
    .row
      ul
        each location in results
          li #{location.country} - #{location.primaryLanguage} - $#{location.population}



